html,
body,
#render-container,
#render-provider,
.render-container,
.render-provider {
  height: 100%;
}

.card-hover:hover {
  box-shadow: rgba(61, 62, 64, 0.2) 0px 3px 9px 0px;
}

.image-size{
  width: 3.5rem;
  height: 3.5rem;
}
